{% extends 'base.html' %}

{% block body %}
    <body>
    <div class="container">
        {% include 'includes/inc_menu.html' %}
    <div>
        <ul class="inbuttom">
            <li><a href="/course/">Назад</a></li>
        </ul>

    </div>

    <br>
    <br>

    <div>
     <ul class="inbuttom">
            <li><a href="/create-course/?id={{id}}">Создать новый курс</a></li>
        </ul>


        <br>
        <h1>Список курсов для категории "{{name}}"</h1>
        {% for item in objects_list %}
        <li>
            {{item.name}} <span><a href="/copy-course/?name={{item.name}}">скопировать</a></span>
        </li>
        {% endfor %}
    </div>
        {% include 'includes/inc_footer.html' %}
    </div>

    </body>
{% endblock %}
