{% extends 'base.html' %}

{% block body %}
    <body>
    <div class="container">
        {% include 'includes/inc_menu.html' %}
        <div class="content">
            <h1>Создание категории</h1>
            <div class="contact-general">
                <form method="post">
                    <input type="text" name="name" placeholder="Название">
                    <button type="submit">Сохранить и вернуться на главную</button>
                </form>
            </div>
        </div>
        {% include 'includes/inc_footer.html' %}
    </div>

    </body>
{% endblock %}


