{% extends 'base.html' %}

{% block body %}
    <body>
    <div class="container">
        {% include 'includes/inc_menu.html' %}
        <div class="content">
            <h1 class="main-heading">Каталог картин</h1>
            {% for name, value in data.products_list.items() %}
                <a href="picture_Revel.html">
                    <div class="accommodation">
                        <p class="name-picture">{{ name }}</p>
                        <div class="pic" style="background-image: url({{ value }});"></div>
                        <p class="short-description">Подробное описание картины</p>
                    </div>
                </a>
            {% endfor %}

        </div>
        {% include 'includes/inc_footer.html' %}
    </div>

    </body>
{% endblock %}